body {
    background-color: rgb(64, 102, 159);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* Styles for tablets (viewport width between 600px and 1024px) */

@media screen and (min-width: 600px) and (max-width: 1023px) {
    body {
        background-color: rgb(21, 255, 0);
    }
    /* create nav bar */
    .nav {
        width: 100vw;
        height: 50px;
        background-color: blue;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-list {
        display: flex;
        justify-content: space-evenly;
        font-size: 2rem;
        list-style-type: none;
        margin: 0;
    }
    .con-nav {
        width: 100vw;
        height: 30px;
    }
    .nav-list>li:hover {
        background-color: yellow;
        border-radius: 10px;
        width: 100px;
        height: 35px;
        text-align: center;
    }
    /* end of nav bar */
    /* Create topic */
    .Topic {
        text-align: center;
        text-shadow: 0px 10px rgb(217, 113, 113);
        color: transparent;
        background: linear-gradient(rgb(35, 29, 30), rgb(255, 0, 191));
        -webkit-background-clip: text;
    }
    /* end topic */
    /* Create ronaldo */
    .List {
        margin: 0;
        list-style-type: decimal;
    }
    .List::first-letter {
        font-size: 2rem;
    }
    .con-ronal {
        width: 100px;
        height: 200px;
        display: grid;
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: 200px;
        gap: 1rem;
        margin-bottom: 5px;
    }
    .con-ronal>img {
        width: 100%;
        height: 100%;
    }
    .cont-ronal {
        margin: 0;
        padding: 0;
    }
    .cap {
        margin: 0;
        padding: 0;
        font-size: 1rem;
    }
    /* end ronaldo */
}


/* Styles for PCs (viewport width greater than or equal to 1024px) */

@media screen and (min-width: 1024px) {
    body {
        background-color: rgb(38, 137, 182);
    }
    /* Create nav bar */
    .nav {
        width: 100vw;
        height: 50px;
        background-color: blue;
        display: flex;
        justify-content: center;
        align-items: center;
        position: sticky;
        top: 0;
        color: white;
    }
    .nav-list {
        font-size: 2rem;
        list-style-type: none;
        margin: 0;
        display: flex;
        justify-content: space-evenly;
    }
    .con-nav {
        width: 100vw;
        height: 30px;
    }
    .nav-list>li:hover {
        background-color: yellow;
        border-radius: 10px;
        width: 150px;
        height: 35px;
        text-align: center;
        color: blue;
    }
    /* end of nav bar */
    /* Create topic */
    .Topic {
        text-align: center;
        text-shadow: 0px 10px rgb(217, 113, 113);
        color: transparent;
        background: linear-gradient(rgb(35, 29, 30), rgb(255, 0, 191));
        -webkit-background-clip: text;
    }
    /* end topic */
    /* Create Ronaldo */
    .List {
        list-style-type: decimal;
        font-size: 3rem;
        margin-left: 1rem;
    }
    .List::first-letter {
        font-size: 4rem;
    }
    .con-ronal {
        width: 100px;
        height: 400px;
        display: grid;
        grid-template-columns: 400px 400px 400px;
        grid-template-rows: 400px;
        gap: 1rem;
    }
    .con-ronal>img {
        width: 100%;
        height: 100%;
    }
    .cont-ronal {
        margin: 0;
        padding: 0;
    }
    .cap {
        margin: 0;
        padding: 0;
        font-size: 2rem;
    }
    /* end ronaldo */
    /* Create meessi */
    .con-messi {
        width: 600px;
        height: 600px;
        margin-right: 10px;
    }
    .con-messi>img {
        width: 100%;
        height: 100%;
    }
    .con-messi {
        float: right;
    }
    /* end messi */
    /* Mbape */
    .con-mbape {
        width: 800px;
        height: 400px;
        display: flex;
        gap: 5px;
    }
    .con-mbape>img {
        width: 100%;
        height: 100%;
    }
    .con-mbape {
        float: left;
    }
    /* end Mbape */
    /* Neymar */
    .con-neymar {
        width: 800px;
        height: 500px;
        margin-right: 5px;
    }
    .con-neymar>img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    .con-neymar {
        float: right;
    }
    /* end neymar */
    /* footer */
    footer {
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
        position: fixed;
        /* Fixed positioning to keep it at the bottom of the viewport */
        bottom: 0;
        width: 100%;
        /* Full width */
    }
    /* end fotter */
}

@media screen and (min-width:360px) and (max-width:700px) {
    body {
        background-color: rgb(125, 151, 204);
    }
    /* Create nav bar */
    .nav {
        width: 100%;
        height: 50px;
        background-color: blue;
        display: flex;
        justify-content: center;
        align-items: center;
        position: sticky;
        top: 0;
    }
    .nav-list {
        font-size: 1rem;
        list-style-type: none;
        margin: 0;
        display: flex;
        justify-content: space-evenly;
        color: white;
    }
    .con-nav {
        width: 100vw;
        height: 30px;
    }
    .nav-list>li:hover {
        background-color: yellow;
        border-radius: 10px;
        width: 100px;
        height: 30px;
        text-align: center;
        color: blue;
    }
    /* end of nav bar */
    /* Create topic */
    .Topic {
        text-align: center;
        text-shadow: 0px 10px rgb(217, 113, 113);
        color: transparent;
        background: linear-gradient(rgb(35, 29, 30), rgb(255, 0, 191));
        -webkit-background-clip: text;
    }
    /* end topic */
    /* Create Ronaldo Story */
    .List {
        margin: 0;
        list-style-type: decimal;
    }
    .List::first-letter {
        font-size: 2rem;
    }
    .con-ronal {
        width: 100px;
        height: 100px;
        display: grid;
        grid-template-columns: 100px 100px 100px;
        grid-template-rows: 100px;
        gap: 5px;
    }
    .con-ronal>img {
        width: 100%;
        height: 100%;
    }
    .cont-ronal {
        margin: 0;
        padding: 0;
    }
    .cap {
        margin: 0;
        padding: 0;
        font-size: 10px;
    }
    /* end ronaldo */
    /* Create meessi */
    .con-messi {
        width: 200px;
        height: 200px;
        margin-right: 10px;
    }
    .con-messi>img {
        width: 100%;
        height: 100%;
    }
    .con-messi {
        float: right;
    }
    /* end messi */
    /* Mbape */
    .con-mbape {
        width: 300px;
        height: 100px;
        display: flex;
        gap: 5px;
    }
    .con-mbape>img {
        width: 100%;
        height: 100%;
    }
    .con-mbape {
        float: left;
    }
    /* end Mbape */
    /* Neymar */
    .con-neymar {
        width: 200px;
        height: 200px;
        margin-right: 1rem;
    }
    .con-neymar>img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    .con-neymar {
        float: right;
    }
    /* end neymar */
    /* footer */
    footer {
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
        position: fixed;
        /* Fixed positioning to keep it at the bottom of the viewport */
        bottom: 0;
        width: 100%;
        /* Full width */
    }
    /* end fotter */
}