/* Top */
.top-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100vw;
  /* height: 400px; */
  /* background-color: aqua; */
  padding: 10px;
  gap: 10px;
}
.image-container {
  display: flex;
  gap: 20px;
}
.image {
  width: 400px;
  height: 400px;
  overflow: hidden;
}
.image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mySlides {
  display: none;
}
.Image-Slide {
  display: none;
}
.desribe {
  display: flex;
  flex-direction: column;
}
#para {
  font-size: 1.5rem;
}
.pic2 {
  margin-top: 100px;
}
/* end top */
/* Info */
.info {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100vw;
  padding: 10px;
}
#more_drc {
  font-size: 18px;
  font-weight: 900;
  margin-top: 20px;
}
.title-exper {
  color: goldenrod;
  text-align: center;
}
.des-more {
  text-align: center;
}
#client-service {
  text-align: center;
}
/* endinfo */
/* Meeting info */
.meeting-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}
.meeeting-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.Image-meeting {
  width: 50px;
  height: auto;
  overflow: hidden;
}

.Image-meeting > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* end  */
/* Our Mission */
.More-Detail {
  width: 100vw;
  padding: 10px;
}
.More-Detail > p {
  font-size: 20px;
  padding: 20px;
}
.des {
  font-size: 1rem;
}
/* end */

@media (max-width: 1024px) {
  .top-container {
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
  }
  .image-container {
    justify-content: center;
  }
  .image,
  .pic2 {
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
  }
  .info {
    grid-template-columns: repeat(2, 1fr);
  }
  .exper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
  }
}
@media (max-width: 768px) {
  #para {
    font-size: 1rem;
  }
  .info {
    grid-template-columns: 1fr;
  }
  .meeting-info {
    grid-template-columns: 1fr;
  }
  .exper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
  }
}
@media (max-width: 480px) {
  .top-container {
    padding: 5px;
  }
  .desribe h1 {
    font-size: 1.8rem;
  }
  #para {
    font-size: 0.9rem;
  }
  .More-Detail > p {
    font-size: 0.9rem;
  }
  .exper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
  }
  .image {
    width: 150px;
    height: 150px;
    overflow: hidden;
  }
  .image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .image-container {
    display: flex;
    gap: 5px;
  }
  .title {
    font-size: 1rem;
  }
  .title-item {
    font-size: 20px;
    font-weight: bold;
  }
  #client-service {
    font-size: 25px;
  }
  .des {
    font-size: 1rem;
  }
  .des-more {
    font-size: 1.05rem;
    text-align: center;
  }
  .title-exper {
    color: goldenrod;
    font-size: 1.05rem;
    text-align: center;
  }
  .Image-Slide {
    display: flex;
    width: 100vw;
    height: auto;
    justify-content: center;
  }
  .Slide-Con {
    width: 300px;
    height: 300px;
  }
  .image-container {
    display: none;
  }
  .mySlides {
    display: none;
  }
  .Slide-Con > img {
    width: 100%;
    height: 100%;
  }
}
